<?xml version='1.0' encoding='utf-8'?>

<plugin id="cordova-plugin-foo-inapp-provisioning" version="0.2.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>FooInAppProvisioningCordovaPlugin</name>
    
    <js-module name="FooInAppProvisioningCordovaPlugin" src="www/FooInAppProvisioningCordovaPlugin.js">
        <clobbers target="FooInAppProvisioningCordovaPlugin" />
    </js-module>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="FooInAppProvisioningCordovaPlugin">
                <param name="ios-package" value="FooInAppProvisioningCordovaPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/FooInAppProvisioningCordovaPlugin.m" />

        <podspec>
            <config>
                <source url="https://github.com/foodeveloper/foopods"/>
            </config>
            <pods>
                <pod name="FooAppleWalletFramework" spec="~> 1.0.13" />
            </pods>
        </podspec>        

    </platform>

    <engines>
        <engine name="cordova" version=">=7.0.0" />        
        <engine name="cordova-ios" version=">=4.4.0" />
    </engines>

</plugin>